    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,127;1,127&display=swap');
        *{
            margin: 0;
            padding: 0;
        }
        .box{
            width: 550px;
            height: 850px;
            border: 0.5px solid black;
            display: flexbox;
            /* margin-left: 10vw;
            margin-right: 10vw;
            margin-top: 10vh;
            margin-bottom: 10vh; */
            margin-left: auto;
            margin-right: auto;
            margin-top: 10vh;
            margin-bottom: 10vh;
            border-radius: 20px;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
        }
        .img{
            /* height: 57vh; */
            width: 510px;
            display: flex;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 50px;
            border-radius: 20px;
            
        } 
        .desc{
            /*  */
            font-size: x-large;
            padding: 10px;
            display: inline;
            border: 0.1px solid rgb(100, 128, 164);
            border-radius: 50px;
            margin: 10px;
            color: rgb(100, 128, 164);

        }
        .paraBox{
            margin-left: 20px;
        }
        .header{
            font-family: "Montserrat", sans-serif;
            font-weight: 100;
            margin: 20px;
            font-size: xx-large;
            position: sticky;
        }
        .content{
            margin: 25px;
            font-family: "Montserrat", sans-serif;
            font-size: x-large;
            color:rgb(9, 9, 79);
            position: relative;
        }
        .button{
            font-size: larger;
            width: 200px;
            height: 40px;
            padding: 10px;
            font-family: "Montserrat", sans-serif;
            font-weight: 900;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #E0EFFF;
            border-radius: 50px;
            margin-left: 175px;
            color: #73B5FF;
            /* position: relative; */
        }
